<footer class="footer-container">
  <div class="footer-redes">
    <a href="https://www.facebook.com/lemaboox" target="_blank" aria-label="Facebook">
      <img src="assets/iconos/facebook.webp" alt="Facebook" />
    </a>
    <a href="https://x.com/Lemaboox" target="_blank" aria-label="LinkedIn">
      <img src="assets/iconos/x.webp" alt="X" />
    </a>
    <a href="mailto:contacto@lemaboox.com" aria-label="Correo">
      <img src="assets/iconos/correo.webp" alt="Correo" />
    </a>
    <a href="tel:+524491856602" aria-label="Teléfono">
      <img src="assets/iconos/telefono.webp" alt="Teléfono" />
    </a>
    <a href="https://maps.google.com/?q=LEMABOOX+Aguascalientes" target="_blank" aria-label="Ubicación">
      <img src="assets/iconos/ubicacion.webp" alt="Ubicación" />
    </a>
  </div>

  <div class="footer-logo">
    <img src="assets/images/logo-lemaboox1.webp" alt="LEMABOOX">
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 LEMABOOX · Todos los derechos reservados</p>
    <p>Diseñado por Luis Romo | <a href="https://www.lemaboox.com">www.lemaboox.com</a></p>
  </div>
</footer>
